* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: 0px;
    outline: none;
}

li {
    list-style: none;
}

.viewer {
    max-width: 700px;
    max-height: 500px;
}

.viewer .main-viewer {
    width: 100%;
}

.viewer ul {
    width: 100%;
    display: flex;
    background-color: rgb(58, 52, 47);
}

.viewer ul li {
    margin: 5px;
}

img {
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal .modal-box {
    width: 300px;
    height: 300px;
    background-color: white;
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
}

.modal .modal-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.modal .modal-footer button {
    width: 50px;
    height: 30px;
    background-color: black;
    color: white;
}

body>button {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    margin: 30px;
}